<!-- <div id="myDiv"></div> -->
<!-- <div class="container"></div> -->
<!-- <mat-icon (click)="sidenav.toggle()">Instruction</mat-icon> -->

<mat-sidenav-container>
  <mat-sidenav-content>
    <main>
      <div [ngClass]="{ hidden: isOpen !== '1' }">
        <div id="myDiv"></div>
      </div>
      <div [ngClass]="{ hidden: isOpen !== '2' }">
        <iframe
          src="https://stageadmingamify.theproindia.com/sandbox/projects/6412e6d18803bdfca9715bd0/Bus%20Booking%20SandBox/applications/6512c6c11b266012c5047aa1/Sandbox%20Application_SandBox%202078354897/configure-rewards/0"
        ></iframe>
      </div>
      <!-- <iframe
        src="https://stackblitz.com/github/abirami61299-pro/angular-tour-of-heroes?embed=1&amp;file=package.json%3AL1-L10&amp;view=editor"
        id="myDiv"
        height="300"
        style="width: 100%; height: 97.45vh"
      ></iframe> -->
    </main>
  </mat-sidenav-content>
  <mat-sidenav #sidenav opened mode="side" position="end">
    <div class="instruction">
      <button>
        <mat-icon (click)="sidenav.toggle()">Instruction</mat-icon>
      </button>
      <div>
        <div>Its me.Hi I am the problem .its me</div>
      </div>
      <div class="btn">
        <button (click)="goBack()">Back</button>

        <button (click)="goToAdmin()">Go To Admin</button>

        <button (click)="onnext()">Next</button>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
