<mat-sidenav-container>
  <mat-sidenav-content>
    <main>
      <div
        [ngClass]="{ hidden: !(tab === panel.First || tab === panel.Third) }"
      >
        <div id="myDiv"></div>
      </div>
      <div [ngClass]="{ hidden: !(tab === panel.Second) }">
        <iframe
          src="https://stageadmingamify.theproindia.com/sandbox/projects/6412e6d18803bdfca9715bd0/Bus%20Booking%20SandBox/applications/6512c6c11b266012c5047aa1/Sandbox%20Application_SandBox%202078354897/configure-rewards/0"
        ></iframe>
      </div>
    </main>
  </mat-sidenav-content>
  <div class="header">
    <h1 class="title">deskbird</h1>
    <div class="toggle" (click)="sidenav.toggle()">
      <mat-icon>chevron_left</mat-icon>
    </div>
  </div>
  <mat-sidenav #sidenav opened mode="side" position="end">
    <div class="instruction">
      <header>
        <img (click)="sidenav.toggle()" src="./../assets/icons/close.svg" />

        <h2>Instruction</h2>
      </header>
      <div>
        <div class="content">
          <div [ngSwitch]="tab">
            <first-workflow
              *ngSwitchCase="panel.First"
              (onNext)="onnext($event)"
            ></first-workflow>
            <second-workflow
              *ngSwitchCase="panel.Second"
              (onNext)="onnext($event)"
            ></second-workflow>
            <third-workflow
              *ngSwitchCase="panel.Third"
              (onNext)="onnext($event)"
            ></third-workflow>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
