/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Indie+Flower&family=Roboto:wght@300&display=swap");
iframe {
  height: 99vh;
  width: 100%;
  ::-webkit-scrollbar {
    display: none;
  }
}
mat-sidenav {
  width: 25%;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.5em;
}
