/* You can add global styles to this file, and also import other style files */
iframe {
  height: 99vh;
  width: 100%;
  ::-webkit-scrollbar {
    display: none;
  }
}
mat-sidenav {
  width: 25%;
}
::-webkit-scrollbar {
  display: none;
}
